*{
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
.container{
    display: flex;
    width: 80%;
    max-height: 900px;
    height: 500px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
}
.left-section{
    width: 80%;
    padding: 50px;
}
.left-section h1{
    color: blue;
    font-size: 60px;
    margin-bottom: 10px;
}
.left-section p{
    font-size: 25px;
}
.right-section{
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 10px 10px; color: white;
    background-color: white;
    margin-bottom: 2px;
}
input[type="text"],input[type="password"]{
    margin-bottom: 2px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
button[type="submit"]{
    width: 100%;
    background-color: blue;
    color: whitesmoke;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
}
button[type="menu"]{
    width: 100%;
    background-color: green;
    justify-content: center;
    color: whitesmoke;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
}
hr {
    margin: 20px;
    border-top: 1px solid #ccc;
}
.form-action a{
   color: blanchedalmond;
    text-decoration: none:
}